<div class="row row-cols-1 row-cols-md-2 g-4">

<div *ngFor="let destination of destinations" class="col">
  <div class="card">
    <img [src]="destination.afficheUrl" class="card-img-top" alt="image se charge"/>
    <div class="card-body">
      <h5 class="card-title">Lieu: {{destination.nomlieu}}</h5>
      <p class="card-text">
        Pays: {{destination.pays}}
      </p>
      <p> Prix: {{destination.prix | currency:'EUR':true}}</p>
      <p>Continent: {{destination.continent}}</p>
      <p style="background-color:red;">{{destination.note | userIcon}}</p>
      <button class="bg-primary text-white" (click)="this.router.navigateByUrl('membres/'+ this.destination.id);">Voir plus de photos</button>

    </div>
  </div>
</div>

</div>

