<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color:#0DCAF0;" >
  <div class="container-fluid ">
    <a class="navbar-brand"  routerLink="" routerLinkActive="active" ><img src="../../favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Home
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"routerLink="caroussel" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Quelques impressions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="graph" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Destinations par continent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rechercheDestination" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Recherche de lieu</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link"  role="button" (click)="onAddNewDestination()">Ajouter une destination</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contacts</a>
        </li>

      </ul>

      <a class="btn btn-outline-light btn-floating m-1" href="https:/www.github.com/barry156/projetAngular" role="button"
      ><i class="fa fa-github"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"
      ><i class="fa fa-instagram"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.fr" role="button"
      ><i class="fa fa-google"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" role="button"
      ><i class="fa fa-twitter"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com" role="button"
      ><i class="fa fa-facebook-f"></i
      ></a>


    </div>
  </div>
</nav>


