.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .img [src] {
    min-width: 100px;
    min-height: 100px;
    display: flex;
  }
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  padding: 50px 0 20px 0;
}
#title{
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}
