    <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img [src]="contact.photoUrl" [alt]="contact.prenomPersonne" class="img-fluid"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h1>Nom: {{contact.nomPersonne}}</h1>
      <h2>Prenom: {{contact.prenomPersonne}}</h2>
        <p class="title">CEO & Founder</p>
        <p>Tel: {{contact.numTel}}</p>
        <p>Email: {{contact.email}}</p>
        <a href="#!" class="btn btn-primary">Contact</a>
    </div>
  </div>


