.container {
  /* fallback for old browsers */

  /* Chrome 10-25, Safari 5.1-6 *

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color:#0DCAF0;
  background-attachment: fixed;
}
.h1{
  text-align: center;
}
