
<div class="container">

  <div class="form-card">
    <h1 style="color: white">NOUVELLE DESTINATION</h1>
    <form [formGroup]="destinationForm">


      <div class="form-outline mb-4 text-white" >
        <label for="nom">Nom du lieu<sup>*</sup></label>
        <input type="text" id="nom" class="form-control" formControlName="nomlieu"  placeholder="">
      </div>

      <div class="form-outline mb-4 text-white">
        <label for="pays">Pays<sup>*</sup></label>
        <input type="text" id="pays" class="form-control" formControlName="pays" placeholder="">
      </div>

      <div class="form-outline mb-4 text-white">
        <label for="continent">Continent<sup>*</sup></label>
        <input type="text" id="continent" class="form-control" formControlName="continent" placeholder="">
      </div>

      <div class="form-outline mb-4 text-white">
        <label for="region">Region</label>
        <input type="text" id="region" class="form-control" formControlName="region" placeholder="">
      </div>

      <div class="form-outline mb-4 text-white">
        <label for="prix">prix</label>
        <input type="text" id="prix" class="form-control" formControlName="prix" placeholder="">
      </div>

      <div class="form-outline mb-4 text-white">
        <label for="afficheUrl">Image<sup>*</sup></label>
        <input type="text" id="afficheUrl" class="form-control" formControlName="afficheUrl" placeholder="">
      </div>
      <div *ngIf="destinationForm.invalid">

        <span class="help-block" style="color: darkred"> Veuillez remplir chacun des champs </span>
      </div>
      <div class="action-buttons">
        <button type="submit" class="btn btn-light btn-lg"
                data-mdb-ripple-color="dark" (click)="onSubmitForm()" [disabled]="destinationForm.invalid">Enregistrer</button>
      </div>


    </form>
  </div>



