<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a
        href="#"
        class="list-group-item list-group-item-action py-2 ripple active bg-info"
        aria-current="true"
      >
        <i class="fa fa-tachometer-alt fa-fw me-3 active"></i><span>Recherche Rapide</span>
      </a>
      <a href="#" routerLink="asiedestination" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple ">
       <i class="fa fa-globe-asia"></i><span>Asie</span>
      </a>
      <a href="#" routerLink="afriquedestination" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"
      ><i class="fa fa-globe-africa"></i><span>Afrique</span></a>
      <a href="#" routerLink="europedestination" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"
      ><i class="fa fa-globe-europe"></i><span>Europe</span></a>
      <a href="#" routerLink="oceaniedestination" routerLinkActive="active" class="list-group-item list-group-item-action py-2 mr-0 ripple">
        <i class="fa fa-chart-pie fa-fw "></i><span>Oceanie</span>
      </a>
      <a href="#" routerLink="ameriquedestination" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"
      ><i class="fa fa-globe-americas"></i><span>Amerique</span></a
      >
      <a href="#" routerLink="nadestination" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"
      ><i class="fa fa-globe-americas"></i><span>Amerique du Nord</span></a
      >
      <a href="#" routerLink="sadestination" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"
      ><i class="fa fa-globe-americas"></i><span>Amerique du Sud</span></a
      >

    </div>
  </div>
</nav>
<!-- Sidebar -->


<!--<div class="container" *ngIf="this.destinationss.getIsLogg()==true">
  <p>FILTRER PAR PRIX</p>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="defaultCheck1" [(ngModel)]="isChecked1"/>
    <label class="form-check-label" for="defaultCheck1"> 0 to 5000 </label>
  </div>-->

  <!-- Default checked radio -->
<!--  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="defaultCheck2" [(ngModel)]="isChecked2"/>
    <label class="form-check-label" for="defaultCheck2" (ngModel)]="isChecked1"> 6000 to 20000</label>
  </div>

  <button class="btn btn-primary mt-1"  (click)="checkboxFunction()" >Chercher</button>

</div>-->
