<!--<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap" rel="stylesheet">
<main>
  <div class="title">
    <h1 id="title">Contact Form</h1>
    <p id="description">Merci d'entrer en contact avec nous en cas de besoin</p>
  </div>
  <form #emailForm="ngForm" (ngSubmit)="onSubmitContact(emailForm)" id="survey-form">

    <label for="name" id="name-label" class="uno">Nom</label>
    <input type="text" id="name" placeholder="Entrez votre nom " required>

    <label for="prenom" id="prenom-label" class="uno">Prenom</label>
    <input type="text" id="name" placeholder="Entrez votre prenom " required>


    <label for="email" id="email-label" class="uno">Email</label>
    <input type="email" id="email" placeholder="Entrez votre email"  required>

    <label for="age" id="number-label" class="uno">Age (optionel)</label>
    <input type="number" id="number" placeholder="Entrez votre age">



    <p class="uno">Avez vous des suggestions</p>
    <textarea id="message" class="textarea uno" name="message" placeholder="Enter your message here..."></textarea>



    <button type="submit" id="submit" class="submit uno">Envoyer!</button>

  </form>

</main> -->


<form #emailForm="ngForm" [formGroup]="newMessageForm">
  <h1>Laissez-nous un message</h1>

  <div class="form-outline mb-4">
    <div class="form-group">
      <label class="form-label" for="prenomUser">Prénom<sup>*</sup></label>
    <input type="text" id="prenomUser" class="form-control" placeholder="Entrez votre prenom" formControlName="prenomUser" required/>
    </div>

  </div>

  <div class="form-outline mb-4">
    <div class="form-group"></div>
    <label class="form-label" for="nomUser">Nom<sup>*</sup></label>
    <input type="text" id="nomUser" class="form-control" placeholder="Entrez votre nom" formControlName="nomUser"  />
  </div>

  <div class="form-outline mb-4">
    <div class="form-group">
      <label class="form-label" for="adresseMailUser">Adresse E-Mail<sup>*</sup></label>
      <input type="email" id="adresseMailUser" class="form-control" formControlName="adresseMailUser" placeholder="Entrez votre email"  />
    </div>

  </div>

  <div class="form-outline mb-4">
    <div class="form-group">
      <label class="form-label" for="ageUser">Age (optionnel)</label>
      <input type="text" id="ageUser" class="form-control" formControlName="ageUser" placeholder="Entrez votre age" />
    </div>

  </div>

  <div class="form-outline mb-4">
    <div class="form-group">
      <label class="form-label" for="messageUser">Message (ou critique)<sup>*</sup></label>
      <textarea class="form-control" id="messageUser" formControlName="messageUser" rows="4"  ></textarea>
    </div>

  </div>

  <div class="form-check d-flex justify-content-center mb-4">
    <div class="form-group">
      <input class="form-check-input me-2" type="checkbox"  formControlName="statusValidate" value="" id="statusValidate"  />
      <label class="form-check-label" for="statusValidate">
        Validez vous vos informations?<sup>*</sup>
      </label>
    </div>

  </div>

  <div *ngIf="newMessageForm.invalid">
    <span class="help-block">Un champ n'a pas été bien rempli!</span>
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Message Validé</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <p>Vous pouvez fermer cette fenêtre</p>
        </div>
      </form>
    </div>
  </ng-template>
  <button type="submit" (click)="open(content)" [disabled]="newMessageForm.invalid" value="submit" class="btn btn-primary btn-block mb-4">Envoyer</button>

</form>
