/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';
html, body { height: 100%;position:relative;  }
app-footer {
  height:70px;
}
#mains {
  margin:20px 20px;
}
.caroussels {
  position: relative;
  width:100%;
  height:500px;
}
//stylisation du tableau des employees
table td img {
  width:100px;
  height:100px;
}// sytlisation de la navbar


/* Importing Bootstrap SCSS file. */

