<div class="container-fluid">
  <p class="center">
    Envie de decouvrir des coins merveilleux du monde , ou profiter de votre temps libre avec vos familles ou proches ,l'agence Bi-voyage  est là pour vous accompagner.
    Avec plus de 400 employés et plus 50 ans d'experience de le domaine touristique , nous sommes  toujours à la disposition de nos clients afin de les offir des voyages de rêves.
    Nos destinations sont reparties un peut partout dans les cinq (5) contients du monde( l'Europe,L'afrique,l'amerique et l'océanie).
    La particularité chez Bi-voyage est que,vous recevez des services à bas prix et obtenez plus de 50% de reduction
    aprés votre 5 ème voyage.
    Donc ne tardez pas á regarder notre banque de destination et reservez-vous un ticket car les places sont limitées



  </p>





</div>
